
%p#notice= notice
%h1.event_name
  %strong Event Name:
  = @bill.event_name
  = link_to 'Edit', edit_bill_path(@bill)

.glance
  %h2 At a Glance...
  %p
    The total amount spent on this bill is $
    - total_bill_sum = Bill.to_currenty_syntax(get_grand_total[0], get_grand_total[1])
    %strong= total_bill_sum[0]
    \.
    %strong= total_bill_sum[1]

  - @bill.friends.each do |friend|
    %p 
      %strong= friend.name
      paid for a total of $
      %strong= get_individual_total[friend.name][:dollar]
      \.
      %strong= get_individual_total[friend.name][:cent]


%h2 Friends who Pitched In

- if @bill.friends.size > 0
  - @bill.friends.each do |friend|
    %p
      %strong Name: #{friend.name}
      = link_to "Delete", [friend.bill, friend], method: :delete, data: {confirm: 'Are you sure"'}

.add_friends
  = form_for [@bill, Friend.new] do |f|
    %p
      = f.label :name
      = f.text_field :name
    %p= f.submit "Add Friend"


.add_transactions
  - if @bill.transactions.size > 0
    %h2 All Transactions
    - @bill.transactions.each do |transaction|
      %p
        %strong #{transaction.payer}
        paid $
        %strong #{transaction.dollar}
        \.
        %strong #{transaction.cent}
        = link_to "Delete", [transaction.bill, transaction], method: :delete, data: {confirm: 'Are you sure"'}
      

.add_transactions
  = form_for [@bill, Transaction.new] do |f|
    %p
      = f.label :payer
      = f.select :payer, options_for_select(get_friends_array)
    %p
      = f.label :dollar
      = f.text_field :dollar
    %p
      = f.label :cent
      = f.text_field :cent
    %p= f.submit "Add Transaction"

