
%p#notice= notice
%h1.event_name
  %strong Event Name:
  = @bill.event_name
  = link_to 'Edit', edit_bill_path(@bill)


%h2 Friends who Pitched In

- if @bill.friends.size > 0
  - @bill.friends.each do |friend|
    %p
      %strong Name: #{friend.name}
      = link_to "Delete", [friend.bill, friend], method: :delete, data: {confirm: 'Are you sure"'}

.add_friends
  = form_for [@bill, Friend.new] do |f|
    %p
      = f.label :name
      = f.text_field :name
    %p= f.submit "Add Friend"


.add_transactions
  - if @bill.transactions.size > 0
    %h2 All Transactions
    - @bill.transactions.each do |transaction|
      %p
        %strong #{transaction.payer}
        paid $
        %strong #{transaction.dollar}
        \.
        %strong #{transaction.cent}
        = link_to "Delete", [transaction.bill, transaction], method: :delete, data: {confirm: 'Are you sure"'}
      

.add_transactions
  = form_for [@bill, Transaction.new] do |f|
    %p
      = f.label :payer
      = f.text_field :payer
    %p
      = f.label :dollar
      = f.text_field :dollar
    %p
      = f.label :cent
      = f.text_field :cent
    %p= f.submit "Add Transaction"

